.clear {
    clear: both;
}
.wrapper {
    margin: 10% auto;
}
.ui-datepicker-calendar {
    display: none;
}
.txt-small {
    font-size: 10px;
}
.txt-medium {
    font-size: 12px;
}
.btn {
    margin-bottom: 5px !important;
}

.pointer {
    cursor: pointer;
}

/* Estilos de iconos para Documentos */
.icon-fa,
.icon-fa:hover {
    text-decoration: none;
    color: #000000;
}

.fa-file-pdf {
    color: #f71f22;
}

.fa-file-excel {
    color: #207446;
}

.fa-file-word {
    color: #285395;
}

.fa-file-image {
    color: #5ecde4;
}

.fa-file-powerpoint {
    color: #b7472a;
}

/* Al seleccionar el tipo de usuario empresa */
#select_empresa_new_user > span {
    width: 100% !important;
}

.row {
    margin: 0px 0px;
}

.card-info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-info {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.card-info :first-child {
    margin: 0 5px 0 0;
}

@media (min-width: 750px) and (max-width: 2000px) {
    .card-info {
        width: 31%;
    }
}

@media (min-width: 0px) and (max-width: 749px) {
    .card-info {
        width: 100%;
        margin: 0 0 1em 0;
    }
}

.titl {
    display: flex;
}

.reuldo {
    border-radius: 5px;
    padding-bottom: 10px;
}
.reuldo > .card-body {
    min-height: 50px;
}
.reuldo > .card-header {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reuldo > .card-body ul {
}
.reuldo > .card-body ul li {
    color: white;
}

.mb-0 {
    margin-bottom: 0 !important;
    margin-top: 20px;
}

#porcenrt {
    text-align: center;
    color: #999999;
    margin-bottom: 30px;
    margin-top: 10px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: slidein;
    transition: all 0.5s;
}

@keyframes slidein {
    0% {
        color: #999999;
    }
    30% {
        color: #b9b3ad;
    }

    60% {
        color: #999999;
    }
}

#download_sftp {
    margin-top: 15px;
}

#modal-alerts .glyphicon {
    font-size: 3rem;
    top: 7px;
}

[disabled] {
    pointer-events: none;
}

#sensor_expediente,
#sensor_pedimentos,
#sensor_importacion,
#sensor_agentes {
    display: block;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    border-radius: 25%;

    width: 116px;
    height: 182px;
}

@media only screen and (max-width: 450px) {
    .circle-container {
        width: 290px !important;
    }

    #sensor_pedimentos {
        transform: translate(217%, -176%) rotate(-25deg);
        height: 121px !important;
        width: 80px !important;
    }

    #sensor_expediente {
        transform: translate(39%, -318%) rotate(-10deg) !important;
        height: 80px !important;
        width: 121px !important;
    }

    #sensor_importacion {
        transform: translate(80%, -115%) rotate(-10deg) !important;
        height: 80px !important;
        width: 121px !important;
    }

    #sensor_agentes {
        transform: translate(6%, -142%) rotate(-15deg) !important;
        height: 121px !important;
        width: 80px !important;
    }
}

@media only screen and (max-width: 770px) {
    .circle-container {
        height: auto;
        width: 400px;
        margin: 0 auto;
    }

    #sensor_pedimentos {
        transform: translate(211%, -183%) rotate(-10deg);
        height: 169px;
    }

    #sensor_expediente {
        transform: translate(37%, -313%) rotate(-10deg);
        height: 116px;
        width: 169px;
    }

    #sensor_importacion {
        transform: translate(80%, -115%) rotate(-10deg);
        height: 116px;
        width: 169px;
    }

    #sensor_agentes {
        transform: translate(6%, -142%) rotate(-15deg);
        height: 169px;
        width: 116px;
    }
}

@media only screen and (min-width: 770px) {
    #sensor_pedimentos {
        transform: translate(340%, -183%) rotate(-10deg);
    }

    #sensor_expediente {
        transform: translate(200%, -225%) rotate(80deg);
    }

    #sensor_importacion {
        transform: translate(270%, -90%) rotate(70deg);
    }

    #sensor_agentes {
        transform: translate(125%, -140%) rotate(-19deg);
    }
}

@media only screen and (min-width: 992px) {
    #sensor_pedimentos {
        transform: translate(434%, -180%) rotate(-10deg);
    }

    #sensor_expediente {
        transform: translate(300%, -225%) rotate(80deg);
    }

    #sensor_importacion {
        transform: translate(360%, -90%) rotate(70deg);
    }

    #sensor_agentes {
        transform: translate(221%, -140%) rotate(-19deg);
    }
}

@media only screen and (min-width: 1200px) {
    #sensor_pedimentos {
        transform: translate(520%, -183%) rotate(-10deg);
    }

    #sensor_expediente {
        transform: translate(380%, -225%) rotate(80deg);
    }

    #sensor_importacion {
        transform: translate(450%, -90%) rotate(70deg);
    }

    #sensor_agentes {
        transform: translate(310%, -136%) rotate(-20deg);
    }
}

@media only screen and (max-width: 2000px) {
}

.mrg_top_bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center-align {
    text-align: center;
}

.center-align > div {
    margin: 0 auto;
}

#loader {
    margin-top: 5%;
    display: inline-block;
}

.loader-active {
    position: relative;
}

.loader-active .loader {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

.loader.tiny {
    width: 25px;
    height: 25px;
}

.loader.small {
    width: 50px;
    height: 50px;
}

.loader.large {
    width: 75px;
    height: 75px;
}

.loader.red {
    border-top-color: #ff0000;
}

.loader.blue {
    border-top-color: #3498db;
}

.loader.yellow {
    border-top-color: #eeff00;
}

.loader.green {
    border-top-color: #00d600;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
